.nav-inner li {
  list-style: none;
}
.menu-icon {
  display: none;
}
@media screen and (max-width: 500px) {
  .app-name h6{
    font-size: 17px;
  }
}
@media screen and (max-width: 1242px) {
  .nav-inner ul li {
    display: none;
  }
}
@media screen and (max-width: 1242px) {
  .menu-icon {
    display: block;
  }
  #popup-menu ul {
    background-color: #102546;
  }
}
